<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>TAF PMMS</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/estilo.css" />
    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/javascripts/tabelaPesquisa.js"></script>
    <script src="/javascripts/calculadora.js"></script>
</head>

<body>

    <% include ./partials/cabecalho %>

    <div id="divpesquisa" class="divpesquisa">
        <section id="corpo">
            <form name="formpesquisa" id="formpesquisa" action="" method="GET" onsubmit="return validar()">
                <label for="nomeMat">Preencha o nome OU matrícula do Policial Militar: </label><br>
                <input type="text" size="40" maxlength="50" name="nomeMat" id="nomeMat" />
                <input type="submit" value="Pesquisar" id="pesquisarButton">
            </form>

            <% if(success_msg != '' || error_msg != '' || error != ''){ %>
            <div id="divmensagens" class="divvisivel">
                <%= error %> <%= success_msg %> <%= error_msg %>
                <script>
                    setTimeout(function () {
                        $('div.divvisivel').fadeOut(3000);
                    }, 3000)
                </script>
                <button id="botaomensagens" class="botaovisivel" onclick="fecharDiv()">X</button>
            </div>
            <% } %>
            <% if(typeof rows!='undefined') { %>
            <div id="resultadoPesquisa" class="">
                <table id="tableResultadoPesquisa">
                    <tr>
                        <th>Matrícula</th>
                        <th>Posto/Graduação</th>
                        <th>Nome de guerra</th>
                        <th>Nome completo</th>
                        <th>Unidade</th>
                    </tr>
                    <% for(var policial of rows){ %>
                    <tr>
                        <td><%=policial.matricula%></td>
                        <td><%=policial.postograd%></td>
                        <td><%=policial.nomedeguerra%></td>
                        <td><%=policial.nomecompleto%></td>
                        <td><%=policial.unidade%></td>
                        <td><input type="button" value="&#10004;"></td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <% } %>


            <div id="divdotaf" class="divhidden">
                <form name="formCadastroTaf" id="formCadastroTaf" method="POST">
                    <div id="divdosdados" class="divhidden">
                        Nome: <span name="nomespan" id="nomespan"></span> <br />
                        Matrícula: <span name="matriculaspan" id="matriculaspan"></span> <br />
                        Idade: <span name="idadespan" id="idadespan"></span> <br />
                        Sexo: <span name="sexospan" id="sexospan"></span><br />
                    </div>
                    <table id="dadosTable">
                        <tr>
                            <td>Metragem na corrida: </td>
                            <td><input type="number" min="700" max="2800" step="50" style="width: 100px;" name="qtdCorrida" id="qtdCorrida"
                                    onblur="chamaCorrida();" onchange="chamaCorrida();"></td>
                            <td>Pontuação: <input id="pontCorridaInput" name="pontCorridaInput" class="readonly"
                                    type="text" tabindex="-1" readonly></td>
                        </tr>
                        <tr class="abdominais">
                            <td> Abdominais: <br>
                                <input type="radio" name="opcaoAbdominalRadio" id="opcaoAbdominalCarl" value="carlup"
                                            checked> <label for="opcaoAbdominalCarl">Carl-up</label>
                                        <input type="radio" name="opcaoAbdominalRadio" id="opcaoAbdominalRem" value="remador">
                                        <label for="opcaoAbdominalRem">Remador</label></td>
                            <td><input type="number" id="qtdAbs" name="qtdAbs" max="49" min="1" onblur="chamaAbdominais();"
                                    onchange="chamaAbdominais();" style="width: 100px;"></td>
                            <td>Pontuação: <input name="pontAbInput" id="pontAbInput" class="readonly" type="text" tabindex="-1"
                                    readonly></td>
                        </tr>
                        <tr id="rowDasBarras">
                            <td>Número de repetições na barra: </td>
                            <td><input type="number" name="barraInputText" id="barraInputText" min="1" max="12" onblur="chamaBarra();"
                                    onchange="chamaBarra();" style="width: 100px;"></td>
                            <td>Pontuação: <input name="pontBarraInput" id="pontBarraInput" class="readonly" type="text" tabindex="-1"
                                    readonly></td>
                        </tr>
                        <tr id="rowDasFlexoesFem">
                            <td>Número de flexões: </td>
                            <td><input type="number" id="flexaoFemInputText" name="flexaoFemInputText" min="1" max="24" onblur="chamaFlexao();"
                                    onchange="chamaFlexao();" style="width: 100px;"></td>
                            <td>Pontuação: <input name="pontFlexaoFemInput" id="pontFlexaoFemInput" class="readonly" type="text" tabindex="-1"
                                    readonly></td>
                        </tr>
                        <tr id="rowDasOpcoes">
                            <td><input type="radio" name="opcaoRadio" id="barraRadioButton" value="Barra" /> <label
                                    for="barraRadioButton">Barras</label>
                                    <input type="radio" name="opcaoRadio" id="flexaoRadioButton" checked value="Flexão" /> <label
                                    for="flexaoRadioButton">Flexões</label></td>
                            <td class="tdbarra" hidden>Qtd: <br>
                            <input type="number" id="qtdBarrasOpcao" min="1" max="12" name="qtdBarrasOpcao"
                                    onblur="chamaBarraDosVeio();" onchange="chamaBarraDosVeio();" style="width: 100px;"></td>
                            <td class="tdbarra" hidden>Pontuação: <input class="readonly" type="text" tabindex="-1"
                                    readonly name="pontBarraDosVeioInput" id="pontBarraDosVeioInput"></td>
                            <td class="tdflexao">Qtd: <br>
                                <input type="number" id="qtdFlexaoOpcao" min="1" max="28" name="qtdFlexaoOpcao"
                                    onblur="chamaFlexao();" onchange="chamaFlexao();" style="width: 100px;"></td>
                            <td class="tdflexao">Pontuação: <input id="pontFlexaoMascInput" name="pontFlexaoMascInput" class="readonly"
                                    type="text" tabindex="-1" readonly></td>
                        </tr>
                        <tr>
                            <td>
                                <h1>Pontuação total:</h1>
                            </td>
                            <td>
                                total aqui
                            </td>
                            <td>APTO ou INAPTO</td>
                            <td><input type="submit" onclick="total();" value="Cadastrar valores"></td>
                        </tr>
                    </table>
                    <input type="text" name="matriculaHiddenInput" id="matriculaHiddenInput" hidden readonly>
                </form>
            </div>
        </section>
    </div>
    <footer id="rodape">

    </footer>
</body>
<script>
    function fecharDiv() {
        document.getElementById('divmensagens').setAttribute('class', 'close');
        document.getElementById('botaomensagens').setAttribute('class', 'close');
    }     

    
</script>

</html>