<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css" />
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <title>TAF PMMS</title>
</head>

<body>
  <% include ./partials/cabecalho %>
        
  <img src="images/BrasaoPMMS.jpg" id="brasao-pm-img" />
  <h1>Planilha TAF PMMS</h1>
  
  <% if(success_msg != '' || error_msg != '' || error != ''){ %>           
    <div id="divmensagens" class="divvisivel">
      <%= error %> 
      <%= success_msg %> 
      <%= error_msg %>
      <script>
      setTimeout(function(){
        $('div.divvisivel').fadeOut(3000);
      }, 3000)
       </script>
      <button id="botaomensagens" class="botaovisivel" onclick="fecharDiv()">X</button>
    </div>
    <% } %>

  <section>
    <h1>Cadastro de policiais para o sistema Planilha TAF PMMS</h1>
    <form method="POST">
      <br />
      <label for="matriculaInput">Matricula: </label>
      <input type="number" name="matriculaInput" id="matriculaInput"
        value="<%= (typeof matriculaInput != 'undefined')? matriculaInput : '' %>" />
      <br />
      <label for="postogradInput"> Posto ou graduação: </label>
      <input type="text" name="postogradInput" id="postogradInput"
        value="<%= (typeof postogradInput != 'undefined')? postogradInput : '' %>" />
      <br />
      <label for="nomecompletoInput">Nome completo:</label>
      <input type="text" name="nomecompletoInput" id="nomecompletoInput"
        value="<%= (typeof nomecompletoInput != 'undefined')? nomecompletoInput : '' %>" />
      <br />
      <label for="nomedeguerraInput">Nome de guerra:</label>
      <input type="text" name="nomedeguerraInput" id="nomedeguerraInput"
        value="<%= (typeof nomedeguerraInput != 'undefined')? nomedeguerraInput : '' %>" />
        <br />
      <label for="unidadeInput">Unidade:</label>
      <input type="text" name="unidadeInput" id="unidadeInput"
        value="<%= (typeof unidadeInput != 'undefined')? unidadeInput : '' %>" />
      <br />
      <label for="unidadeInput">Data de nascimento:</label>
      <input type="date" name="dataNascInput" id="dataNascInput"
        value="<%= (typeof dataNascInput != 'undefined')? dataNascInput : '' %>" />
      <br />
      <fieldset>
        <legend>Sexo</legend>
        <input type="radio" name="sexoRadioButton" id="mascRadioButton" value="masculino" /> <label
            for="mascRadioButton">Masculino</label>
        <input type="radio" name="sexoRadioButton" id="femRadioButton" value="feminino" /> <label
            for="femRadioButton">Feminino</label>
    </fieldset>
      <br />
      <input type="submit" value="Cadastrar" name="cadastrarButton" id="cadastrarButton" />
    </form>
    
  </section>
</body>
<script>
    function fecharDiv() { 
     document.getElementById('divmensagens').setAttribute('class', 'close'); 
     document.getElementById('botaomensagens').setAttribute('class', 'close'); 
    }     
      
  </script>
</html>