<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css" />
  <title>Login - TAF PMMS</title>
</head>

<body>
  <% include ./partials/cabecalho %>
  
  <div id="quadroFormCadastro">
    <h1>Cadastrar novo usuário para o sistema</h1>
    <form method="POST">
      <table>
      <tr>
        <td> 
          <label for="matriculaInput">Matricula: </label>
        </td>
        <td>
          <input type="number" name="matriculaInput" id="matriculaInput"
          value="<%= (typeof matriculaInput != 'undefined')? matriculaInput : '' %>" />
        </td>
      </tr>
      <tr>
        <td><label for="postogradInput"> Posto ou graduação: </label></td>
        <td><input type="text" name="postogradInput" id="postogradInput"
          value="<%= (typeof postogradInput != 'undefined')? postogradInput : '' %>" />
        </td>
      </tr>
      <tr>
        <td><label for="nomecompletoInput">Nome completo:</label></td>
        <td><input type="text" name="nomecompletoInput" id="nomecompletoInput"
          value="<%= (typeof nomecompletoInput != 'undefined')? nomecompletoInput : '' %>" />
        </td>
      </tr>
      <tr>
        <td><label for="nomedeguerraInput">Nome de guerra:</label></td>
        <td><input type="text" name="nomedeguerraInput" id="nomedeguerraInput"
          value="<%= (typeof nomedeguerraInput != 'undefined')? nomedeguerraInput : '' %>" />
        </td>
      </tr>
      <tr>
        <td><label for="unidadeInput">Unidade:</label></td>
        <td><input type="text" name="unidadeInput" id="unidadeInput"
          value="<%= (typeof unidadeInput != 'undefined')? unidadeInput : '' %>" />
        </td>
      </tr>
      <tr>
        <td><label for="senhaInput">Digite uma senha:</label></td>
        <td><input type="password" name="senhaInput" id="senhaInput" /></td>
      </tr>
      <tr>
        <td><label for="confirmeSenhaInput">Confirme sua senha:</label></td>
        <td><input type="password" name="confirmeSenhaInput" id="confirmeSenhaInput" /></td>
      </tr>
      <tr>
        <td><label for="perfilList">Perfil de acesso::</label></td>
        <td><select name="perfilList" id="perfilList">
          <option value="master">Master</option>
          <option value="gerenciador">Gerenciador</option>
          <option value="leitura">Somente Leitura</option>
        </select></td>
      </tr>
      
      <tr>
        <td>
          <input type="submit" value="Cadastrar" name="cadastrarButton" id="cadastrarButton" />
        </td>
      </tr>

    </table>
    </form>
    <% if(typeof errors != 'undefined') { %> <% errors.forEach(function(error)
      { %>
    <h1><%= error.msg %></h1>
    <% }); %> <% } %>
  </div>
</body>

</html>